@import './base.css';

@media (prefers-color-scheme: light) {
  :root {
    --text: #0b180e;
    --background: #f4f4f6;
    --primary: #d5d5d8;
    --secondary: #000000;
    --accent: #14161a;
    --accent-2: hsl(174, 99%, 36%);
    --accent-3: hsl(98, 100%, 24%);
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #00000081;
    --bleed-in: #f4f4f6;
    --card-icon-bg: #cfcfcf;
    --card-icon-fill: #3a3a3a;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --background: #09090b;
    --primary: #27272a;
    --secondary: #ffffff;
    --accent: #e5e7eb;
    --accent-2: #53feed;
    --accent-3: #ccffae;
    --clr-3: #00000005;
    --clr-4: #2d8f85;
    --clr-5: #00000081;
    --bleed-in: #000000;
    --card-icon-bg: #303030;
    --card-icon-fill: #c5c5c5;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: false;
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: true;
  line-height: 1.15;
}

p {
  font-size: 1em;
  color: var(--accent);
  font-weight: 400;
}

h1,
.text-size-h1 {
  font-weight: 700;
  margin-top: 0;
  font-size: 4.21em;
}

h2,
.text-size-h2 {
  font-size: 3.16em;
}

h3,
.text-size-h3 {
  font-size: 2.37em;
}

h4,
.text-size-h4 {
  font-size: 1.78em;
}

h5,
.text-size-h5 {
  font-size: 1.33em;
}

.text-caption {
  font-size: 0.75em;
}

small,
.text-small {
  font-size: 0.56em;
}

/* Containers */
.main-container {
  width: min(100%, 1200px);
  margin: 0 auto;
}
